%div{:id => "field_student_scholarship_type", :class => 'field'}
  = fields.label :scholarship_type_id, 'Tipo'
  = fields.grouped_collection_select :scholarship_type_id, ScholarshipCategory.order(:name), :scholarship_types, :name, :id, :name, options = {:prompt => "Selecciona la beca"}


%div{:id => "field_student_scholarship_start_date", :class => 'field'}
  = fields.label :start_date, 'Fecha de inicio'
  = fields.date_select :start_date, :start_year => 1994

%div{:id => "field_student_scholarship_end_date", :class => 'field'}
  = fields.label :end_date, 'Fecha de termino'
  = fields.date_select :end_date, :start_year => 1994

%div{:id => "field_student_scholarship_status", :class => 'field'}
  = fields.label :status, 'Estado'
  = fields.select :status,  [['', ''],['Activa', 'ACTIVA'], ['Inactiva', 'INACTIVA']]

%div{:id => "field_student_scholarship_notes", :class => 'field'}
  = fields.label :notes, 'Notas acerca de la beca'
  = fields.text_area :notes
