%div{:id => "field_student_scholarship_type", :class => 'field'}
  = fields.label :scholarship_type, 'Tipo'
  = fields.select :scholarship_type,  [['Ninguna', 'NINGUNA'], ['Institucional', 'INSTITUCIONAL'], ['PROMEP', 'PROMEP'], ['PNPC', 'PNPC'], ['Beca Mixta', 'MIXTA'], ['Departamental', 'DEPARTAMENTAL']]


%div{:id => "field_student_scholarship_start_date", :class => 'field'}
  = fields.label :start_date, 'Fecha de inicio'
  = fields.date_select :start_date

%div{:id => "field_student_scholarship_end_date", :class => 'field'}
  = fields.label :end_date, 'Fecha de termino'
  = fields.date_select :end_date

%div{:id => "field_student_scholarship_status", :class => 'field'}
  = fields.label :status, 'Estado'
  = fields.select :status,  [['', ''],['Activa', 'ACTIVA'], ['Inactiva', 'INACTIVA']]

%div{:id => "field_student_scholarship_notes", :class => 'field'}
  = fields.label :notes, 'Notas acerca de la beca'
  = fields.text_area :notes
