= form_for(student_file, :url => { :action => "upload_file"}, :html => {:id => 'upload-form', :multipart => true, :target => "submit_iframe"}) do |f|
  = hidden_field_tag :id, student.id
  = f.hidden_field :student_id, {:value => student.id }
  %table{'class' => 'files-table'}
    %tr
      %th Descripción
      %th Archivo
    - student.student_file.each do |file_entry|
      %tr
        %td= file_entry.description
        %td{"class" => "type-" + File.extname(file_entry.file.to_s)[1..-1]}= File.basename(file_entry.file.to_s)
    %tr
      %td= f.text_field :description
      %td
        .fakefile
          = f.file_field :file
          .upload Subir archivo
          = f.submit 'Arriba'
