:javascript
  $(document).ready(function() {
    parent.changeResourceImage("#{@student.id}", "#{@student.image_url(:small).to_s}", "#{@student.image_url(:medium).to_s}");
  });
  $("#student_image").live("change", function() {
    $('#upload-button').html('Cambiando...')
    $("#item-upload-image-form").submit();
  });
#change-image-box
  = form_for(@student, :url => { :action => "upload_image" }, :html => {:id => 'item-upload-image-form', :multipart => true}) do |f|
    = hidden_field_tag :id, @student.id
    = image_tag @student.image_url.to_s

    #upload-pic-box
      = f.file_field :image
      #upload-button.upload Cambiar fotografía
