- form_for @student, :remote => true, :html => { :'data-type' => 'html', :id => 'item-new-form' } do |f|

  .resource-header
    .resource-picture
      = image_tag @student.image_url(:medium).to_s
    .resource-title
      %h1= "Nuevo Estudiante"
    .resource-save
      = f.submit 'Agregar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"
      %li= link_to "Notas", "#notas"

    #detalles
      %h2 Detalles

      .field#field_student_first_name
        = f.label :first_name, mark_required(@student, :first_name) + 'Nombre' 
        = f.text_field :first_name 
        
      .field#field_student_last_name
        = f.label :last_name, mark_required(@student, :last_name) + 'Apellidos'
        = f.text_field :last_name

      .field#field_student_gender 
        = f.label :gender, 'Sexo'
        = f.select :gender,  [['Hombre', 'H'], ['Mujer', 'F']]

      .field#field_student_program_id
        = f.label :program_id, 'Programa'
        = f.collection_select :program_id, @programs, :id, :name, options = {:prompt => "Selecciona el programa"} 

      .field#field_student_start_date
        = f.label :start_date, 'Fecha de inicio'
        = f.date_select :start_date, :start_year => 1994

    #notas
      %h2 Notas
      = f.text_area :notes
