- if @is_pdf 
  %h1= @ts.student.full_name
  %div= @ts.student.program.name
#tc-header
  #tc-title
    - if @is_pdf 
      %h4= "Horario #{@ts.term.name}"
    - else
      %h4= @ts.term.name
    %div (#{l @ts.term.start_date, :format => :long} – #{l @ts.term.end_date, :format => :long})

- if !@is_pdf 
  .pdf-link= link_to "PDF", :controller => "students", :action => "schedule_table", :id => @ts.student_id, :term_id => @ts.term_id, :format => 'pdf'

%table#student-schedule
  %tr
    %th Hora
    %th Lunes
    %th Martes
    %th Miercoles
    %th Jueves
    %th Viernes
    %th Sabado
    %th Domingo
  - (@min_hour..@max_hour).each do |i|
    %tr
      %td.hora= "#{i}:00"
      - (1..7).each do |j|
        %td.dia
          - @schedule[i][j].each do |k|
            .session_block(class="session_style_#{k['n']}")
              .session-title= k['name']
              .session-staff= k['staff_name']
              .session-comments= k['comments']

