= fields_for "program[terms_attributes][0][term_courses_attributes][0][term_course_schedules_attributes][0]", @cs do |fields|
  = hidden_field_tag 'program[terms_attributes][0][id]', @cs.term_course.term_id
  = hidden_field_tag 'program[terms_attributes][0][term_courses_attributes][0][id]', @cs.term_course.id
  = hidden_field_tag 'program[terms_attributes][0][term_courses_attributes][0][term_course_schedules_attributes][0][term_course_id]', @cs.term_course.id
  = fields.hidden_field :id

  %div{:id => "field_terms_courses_term_course_schedules_attributes_0_staff_id", :class => 'field'}
    = fields.label :start_date, 'Docente'
    = fields.grouped_collection_select :staff_id, @institutions, :staffs, :name, :id, :full_name, options = {:prompt => "Selecciona el docente"}

  %div{:id => "field_terms_courses_term_course_schedules_attributes_0_day", :class => 'field'}
    = fields.label :day, 'Horario'
    = fields.select :day, TermCourseSchedule::DAY.invert.sort {|a,b| a[1] <=> b[1] }
    = fields.select :start_hour, TermCourseSchedule::HOURS
    = fields.select :end_hour, TermCourseSchedule::HOURS

  %div{:id => "field_terms_courses_term_course_schedules_attributes_0_classroom_id", :class => 'field'}
    = fields.label :classroom_id, 'Aula'
    = fields.select :classroom_id, Classroom.order(:name).collect {|i| [i.full_name, i.id]}

  %div{:id => "field_terms_courses_term_course_schedules_attributes_0_class_type", :class => 'field'}
    = fields.label :class_type, 'Tipo de clase'
    = fields.select :class_type, TermCourseSchedule::CLASSTYPE.invert.sort {|a,b| a[1] <=> b[1] }

  %div{:id => "field_terms_courses_term_course_schedules_attributes_0_start_date", :class => 'field'}
    = fields.label :start_date, 'Fecha Inicio'
    = fields.date_select :start_date

  %div{:id => "field_terms_courses_term_course_schedules_attributes_0_end_date", :class => 'field'}
    = fields.label :end_date, 'Fecha Fin'
    = fields.date_select :end_date

  #dialog-submit-button-area
    = fields.submit "Actualizar sesión"
