//- form_for @program, :remote => true, :url => { :action => "update_course" }, :html => {:'data-type' => 'html', :id => 'course-update-form', :class => 'course-edit'} do |f|
= fields_for "program[courses_attributes][0]" do |f|
  = hidden_field_tag 'program_id', @program.id
  = hidden_field_tag 'id', @program.id
  = hidden_field_tag 'program[courses_attributes][0][program_id]', @program.id
  = fields_for "program[courses_attributes][0]", @course do |fields|
    = fields.hidden_field :id

    %div{:id => "field_program_courses_0_term", :class => 'field'}
      = fields.label :term, @program.term_type
      = fields.select :term,  (1..@program.terms_qty).to_a << ['Optativa',99]

    %div{:id => "field_program_courses_0_code", :class => 'field'}
      = fields.label :code, 'Clave'
      = fields.text_field :code

    %div{:id => "field_program_courses_0_name", :class => 'field'}
      = fields.label :name, 'Nombre'
      = fields.text_field :name

    %div{:id => "field_program_courses_0_description", :class => 'field'}
      = fields.label :description, 'Descripción'
      = fields.text_area :description

    %div{:id => "credits", :class => 'field'}
      %label Creditos
      %table.plan-credits
        %tbody
          %tr
            %th Teoría
            %th Practica
            %th Total
          %tr
            %td= fields.select :lecture_hours, (0..12).to_a
            %td= fields.select :lab_hours, (0..12).to_a
            %td= fields.select :credits, (1..30).to_a

    %div{:id => "prereq", :class => 'field'}
      %label Prerequisitos
      %table.plan-prereq
        %tbody
          %tr
            %td= fields.select :prereq1, [['Ninguno', 0]] + Course.where("program_id = :p AND term < :t AND id <> :i", {:p => @program.id, :t => @course.term, :i => @course.id}).collect {|i| [ i.full_name, i.id]}
          %tr
            %td= fields.select :prereq2, [['Ninguno', 0]] + Course.where("program_id = :p AND term < :t AND id <> :i", {:p => @program.id, :t => @course.term, :i => @course.id}).collect {|i| [ i.full_name, i.id]}
          %tr
            %td= fields.select :prereq3, [['Ninguno', 0]] + Course.where("program_id = :p AND term < :t AND id <> :i", {:p => @program.id, :t => @course.term, :i => @course.id}).collect {|i| [ i.full_name, i.id]}

    %div{:id => "coreq", :class => 'field'}
      %label Corequisitos
      %table.plan-coreq
        %tbody
          %tr
            %td= fields.select :coreq1, [['Ninguno', 0]] + Course.where("program_id = :p AND term <= :t AND id <> :i", {:p => @program.id, :t => @course.term, :i => @course.id}).collect {|i| [ i.full_name, i.id]}
          %tr
            %td= fields.select :coreq2, [['Ninguno', 0]] + Course.where("program_id = :p AND term <= :t AND id <> :i", {:p => @program.id, :t => @course.term, :i => @course.id}).collect {|i| [ i.full_name, i.id]}
          %tr
            %td= fields.select :coreq3, [['Ninguno', 0]] + Course.where("program_id = :p AND term <= :t AND id <> :i", {:p => @program.id, :t => @course.term, :i => @course.id}).collect {|i| [ i.full_name, i.id]}

    %div{:id => "field_program_courses_0_notes", :class => 'field'}
      = fields.label :notes, 'Notas'
      = fields.text_area :notes

    #dialog-submit-button-area
      = fields.submit "Actualizar curso"
