- form_for @program, :remote => true, :html => { :'data-type' => 'html', :id => 'item-new-form' } do |f|

  .resource-header
    .resource-title
      %h1= "Nuevo Programa"
    .resource-save
      = f.submit 'Agregar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"

    #detalles
      %h2 Detalles

      .field#field_program_name
        = f.label :name, mark_required(@program, :name) + 'Nombre'
        = f.text_field :name 

      .field#field_program_prefix
        = f.label :prefix, mark_required(@program, :prefix) + 'Clave'
        = f.text_field :prefix

      .field#field_program_level
        = f.label :level, 'Nivel'
        = f.select :level,  Program::LEVEL.invert.sort {|a,b| a[1] <=> b[1] }

      .field#field_program_terms_duration
        = f.label :terms_duration, 'Duración del periodo'
        = f.select :terms_duration,  Program::TERM.invert.sort {|a,b| a[1] <=> b[1] }

      .field#field_program_terms_qty
        = f.label :terms_qty, 'Cantidad de periodos'
        = f.select :terms_qty, (1..12).to_a


