- form_for @user, :remote => true, :html => {:'data-type' => 'html', :id => 'item-edit-form'} do |f|

  :javascript
    $(function() {
      $('#resource-tabs').tabs();
    });


  .resource-header
    .resource-picture
      = image_tag "/images/users/medium_#{['','administrator','operator','staff','student'][@user.access]}.jpg", :id => "img-medium-#{@user.id}"
    .resource-title
      %h1= "#{@user.email}"
      .comment= @user.access_type
    .resource-save
      = f.submit 'Actualizar'

  #resource-tabs
    %ul
      %li.first-tab= link_to "Detalles", "#detalles"

    #detalles
      %h2 Detalles

      .field#field_user_email
        = f.label :email, mark_required(@user, :email) + 'Correo electrónico' 
        = f.text_field :email 
        
      .field#field_user_access
        = f.label :access, mark_required(@user, :access) + 'Tipo de acceso'
        = f.select :access,  User::ACCESS_TYPE.invert

      .field#field_user_status
        = f.label :status, 'Estado'
        = f.select :status,  User::STATUS.invert
